-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "public"."currency_transactions" (
    "transaction_id" BIGSERIAL NOT NULL,
    "user_id" BIGINT NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "amount" BIGINT,
    "currency_type" VARCHAR DEFAULT '',
    "reference_id" SMALLINT,

    CONSTRAINT "currency_transactions_pkey" PRIMARY KEY ("transaction_id")
);

-- CreateTable
CREATE TABLE "public"."matches" (
    "match_id" BIGSERIAL NOT NULL,
    "user1_id" BIGINT,
    "matched_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "user2_id" BIGINT,

    CONSTRAINT "matches_pkey" PRIMARY KEY ("match_id")
);

-- CreateTable
CREATE TABLE "public"."messages" (
    "message_id" BIGSERIAL NOT NULL,
    "match_id" BIGINT NOT NULL,
    "sender_id" BIGINT,
    "content" TEXT DEFAULT '',
    "is_read" BOOLEAN DEFAULT false,
    "sent_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "messages_pkey" PRIMARY KEY ("message_id")
);

-- CreateTable
CREATE TABLE "public"."user_auth" (
    "user_id" BIGSERIAL NOT NULL,
    "email" VARCHAR NOT NULL,
    "password" VARCHAR,

    CONSTRAINT "user_auth_pkey" PRIMARY KEY ("user_id")
);

-- CreateTable
CREATE TABLE "public"."user_background" (
    "user_id" BIGSERIAL NOT NULL,
    "sibling_order" VARCHAR NOT NULL DEFAULT '',
    "congenital_disease" VARCHAR DEFAULT '',
    "father_status" BOOLEAN DEFAULT true,
    "mother_status" BOOLEAN DEFAULT true,
    "have_children" BOOLEAN DEFAULT false,
    "father_age" SMALLINT,
    "mother_age" SMALLINT,

    CONSTRAINT "user_background_pkey" PRIMARY KEY ("user_id")
);

-- CreateTable
CREATE TABLE "public"."user_financial" (
    "user_id" BIGSERIAL NOT NULL,
    "wages" VARCHAR NOT NULL,
    "location_type" VARCHAR,
    "motorcycle_count" SMALLINT DEFAULT 0,
    "car_count" SMALLINT DEFAULT 0,

    CONSTRAINT "user_financial_pkey" PRIMARY KEY ("user_id")
);

-- CreateTable
CREATE TABLE "public"."user_likes" (
    "like_id" BIGSERIAL NOT NULL,
    "liker_id" BIGINT NOT NULL,
    "liked_id" BIGINT,
    "status" VARCHAR DEFAULT '',

    CONSTRAINT "user_likes_pkey" PRIMARY KEY ("like_id")
);

-- CreateTable
CREATE TABLE "public"."user_main" (
    "user_id" BIGSERIAL NOT NULL,
    "is_verified" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "user_pkey" PRIMARY KEY ("user_id")
);

-- CreateTable
CREATE TABLE "public"."user_profile" (
    "user_id" BIGSERIAL NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "name_display" VARCHAR DEFAULT '',
    "bio" TEXT DEFAULT '',
    "gender" VARCHAR DEFAULT '',
    "location" VARCHAR DEFAULT '',
    "mbti" VARCHAR DEFAULT '',
    "race" VARCHAR DEFAULT '',
    "place_of_birth" VARCHAR DEFAULT '',
    "date_of_birth" DATE,
    "marriage_status" VARCHAR DEFAULT '',
    "body_height" SMALLINT,
    "body_weight" SMALLINT,

    CONSTRAINT "user_profile_pkey" PRIMARY KEY ("user_id")
);

-- CreateTable
CREATE TABLE "public"."user_security" (
    "user_id" BIGSERIAL NOT NULL,
    "full_name" VARCHAR,
    "national_id" VARCHAR,
    "full_address" TEXT,
    "username" VARCHAR,

    CONSTRAINT "user_security_pkey" PRIMARY KEY ("user_id")
);

-- CreateTable
CREATE TABLE "public"."user_spiritual" (
    "user_id" BIGSERIAL NOT NULL,
    "church_denomination" VARCHAR NOT NULL DEFAULT '',
    "church_ministry" VARCHAR DEFAULT '''::character varying',
    "mentor_name" VARCHAR DEFAULT '',
    "mentor_number" VARCHAR,
    "religion" VARCHAR,

    CONSTRAINT "user_spiritual_pkey" PRIMARY KEY ("user_id")
);

-- CreateTable
CREATE TABLE "public"."user_wallet" (
    "user_id" BIGSERIAL NOT NULL,
    "referral_code" VARCHAR,
    "coin" BIGINT NOT NULL,
    "diamond" BIGINT,

    CONSTRAINT "user_wallet_pkey" PRIMARY KEY ("user_id")
);

-- CreateTable
CREATE TABLE "public"."vendors" (
    "vendor_id" BIGSERIAL NOT NULL,
    "name" VARCHAR DEFAULT '',
    "category" VARCHAR,
    "address" TEXT,
    "contact_phone" TEXT,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "vendors_pkey" PRIMARY KEY ("vendor_id")
);

-- AddForeignKey
ALTER TABLE "public"."currency_transactions" ADD CONSTRAINT "currency_transactions_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."user_main"("user_id") ON DELETE SET NULL ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "public"."matches" ADD CONSTRAINT "matches_user1_id_fkey" FOREIGN KEY ("user1_id") REFERENCES "public"."user_main"("user_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."matches" ADD CONSTRAINT "matches_user2_id_fkey" FOREIGN KEY ("user2_id") REFERENCES "public"."user_main"("user_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."messages" ADD CONSTRAINT "messages_match_id_fkey" FOREIGN KEY ("match_id") REFERENCES "public"."matches"("match_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."messages" ADD CONSTRAINT "messages_sender_id_fkey" FOREIGN KEY ("sender_id") REFERENCES "public"."user_main"("user_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."user_auth" ADD CONSTRAINT "user_auth_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."user_main"("user_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."user_background" ADD CONSTRAINT "user_background_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."user_main"("user_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."user_financial" ADD CONSTRAINT "user_financial_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."user_main"("user_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."user_likes" ADD CONSTRAINT "user_likes_liked_id_fkey" FOREIGN KEY ("liked_id") REFERENCES "public"."user_main"("user_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."user_likes" ADD CONSTRAINT "user_likes_liker_id_fkey" FOREIGN KEY ("liker_id") REFERENCES "public"."user_main"("user_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."user_profile" ADD CONSTRAINT "user_profile_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."user_main"("user_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."user_security" ADD CONSTRAINT "user_security_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."user_main"("user_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."user_spiritual" ADD CONSTRAINT "user_spiritual_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."user_main"("user_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."user_wallet" ADD CONSTRAINT "user_wallet_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."user_main"("user_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

